body {
  text-align: center;
}
button {
  border: 0;
  outline: 0;
  cursor: pointer;
}
.game {
  background-image: url("./img/background.png");
  width: 1000px;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
.game__field{
  width: 100%;
  height: 100%;
  margin-top: 170px;
  opacity: 0.4;
}
.game__header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.game__header .game__button{
  margin-top: 30px;
  width: 60px;
  height: 60px;
  background-color: wheat;
  border: 4px solid black;
  font-size: 24px;
  border-radius: 15px;
  box-shadow: 1px 1px 0 rgba(0,0,0,0.5);  
}

.game__header .game__button:active{
  box-shadow: 3px 3px 0 rgba(0,0,0,0.5);
  transform: scale(0.9);
}

.game__timer {
  width: 100px;
  background-color: white;
  text-align: center;
  border: 5px solid black;
  border-radius: 15px;
  font-size: 32px;
  margin-top: 28px;
}
.game__score {
  width: 50px;
  height: 50px;
  font-size: 46px;
  background-color: rgb(255, 170, 170);
  border-radius: 50%;
  border: 3px solid black;
  text-align: center;
  margin-top: 28px;
}
.pop-up{
  padding: 20px;
  width: 600px;
  height: 220px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  text-align: center;
  margin: auto;
  transform: translateY(-150%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pop-up--hide{
  display: none;
}
.pop-up .pop-up_refresh {
  width: 80px;
  height: 80px;
  font-size: 34px;
  background-color: wheat;
  border: 2px solid black;
  border-radius: 50%;
  top:0;
  bottom: 0;
  margin: auto;
  box-shadow: 1px 1px 0 rgba(0,0,0,0.5); 
}
.pop-up .pop-up_refresh:active{
  box-shadow: 3px 3px 0 rgba(0,0,0,0.5);
  transform: scale(0.9);
}
.pop-up .pop-up__message {
  display: block;
  font-size: 38px;
  top:0;
  bottom: 0;
  margin: auto;
}